(ns {{top/ns}}.logging
  (:require [com.brunobonacci.mulog :as u]
            [com.stuartsierra.component :as c]))

(defrecord Component [publisher-opts]
  c/Lifecycle
  (start [{:keys [publisher-opts]}]
    {:publishers (mapv u/start-publisher! publisher-opts)})
  (stop [{:keys [publishers]}]
    (doseq [publisher publishers]
      (publisher))))

(defn make-component
  [{:ulog/keys [publisher-opts]}]
  (Component. publisher-opts))
