{:description "FIXME: my new application."
 :transform
 [["build" ""
   {"build.tmpl" "build.clj"
    "deps.tmpl"  "deps.edn"}]
  ["src" "src/{{top/file}}"
   {"main.tmpl" "main.clj"
    "server.tmpl" "server.clj"
    "app.tmpl" "app.cljs"
    "logging.tmpl" "logging.clj"}]
  ["test" "test/{{top/file}}"
   {"main_test.tmpl" "main_test.clj"}]]}
